.App {
  text-align: center;
  background-color: #ffff;
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  font-family: sans-serif;
}
.container {
  width: 60%;
  min-height: 200px;
  height: auto;
  
  margin: auto;
  border-radius: 20px;
}



/*
AddTask component style
*/
input {
  margin-top: 10px;
  background: none;
  height: 50px;
  border: 2px solid #6200ee;
  color: black;
  align-self: center;
  width: 20rem;
  border-radius: 20px;
  padding-left: 20px;
  box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
}
input:focus {
  border: 2px solid #6200ee;
  background: none;
  height: 50px;
}
.element-button {
  border: none;
  background-color: #6200ee;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
  width: 50px;
  border-radius: 55px;
  color: white;
  font-size: 20px;
  box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
}



.task-container {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.task {
  margin-top: 30px;
  width: 500px;
  min-height: 50px;
  background:#6200ee;
  border-radius: 20px;
  box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
-webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
display: table;
overflow: hidden;
  
}
.task-text {
  color: White;
  font-size: 20px;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  transform: translateX(-30%);
}
.remove-task {
  position: absolute;
  transform: translateY(25%) translateX(-150%);
  font-size: 25px;
}
/*
dark theme color #bb86fc
*/