.App {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  height: 50rem;
  
  padding-bottom: 100px;
}
.light-background {
  position: absolute;
  color: black;
  background-color: #ffff;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.dark-background {
  position: absolute;
  background-color: #433753; 
  color: #ffff;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  
}
.container {
  width: 50%;
  max-width: 1000px;
  min-height: 200px;
  height: auto;
  
  margin: auto;
  border-radius: 20px;
}



/*
AddTask component style
*/
input {
  margin-top: 10px;
  background: none;
  height: 50px;
  border: 2px solid #6200ee;
  color: black;
  align-self: center;
  width: 20rem;
  border-radius: 20px;
  padding-left: 20px;
  box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
}
input:focus {
  border: 2px solid #6200ee;
  background: none;
  height: 50px;
}
.element-button {
  border: none;
  background-color: #6200ee;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
  width: 50px;
  border-radius: 55px;
  color: white;
  font-size: 20px;
  box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
}



.task-container {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.dark-task {
  margin-top: 30px;
  width: 500px;
  min-height: 50px;
  background:#6200ee;
  border-radius: 20px;
  box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
-webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
display: table;
overflow: hidden; 
}
.light-task {
  margin-top: 30px;
  width: 500px;
  min-height: 50px;
  background:#a287c9;
  border-radius: 20px;
  box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
-webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.59);
display: table;
overflow: hidden;
}
.task-text {
  color: White;
  font-size: 20px;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  transform: translateX(-30%);
}
.remove-task {
  position: absolute;
  transform: translateY(25%) translateX(-150%);
  font-size: 25px;
  font-weight: 600;
}
.remove-task:hover  {
  font-size: 30px;
  transform: translateY(10%) translateX(-130%);
  cursor: pointer;
}
/*
dark theme color #bb86fc
*/

/*

.theme-container {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #6200ee;
  border-radius: 30px;
  margin: auto;
  transform: translateX(300%) translateY(-150%);
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75) inset;
}
.slider {
  width: 30px;
  height: 30px;
  background-color: yellow;
  transform: translateX(0%);
  border-radius: 100%;
  transition: all 0.2s ease;
  box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.75);
}

.dark-theme-enabled {
  transform: translateX(100%);
  
  box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.75);
}
.dark-theme {
 background-color: #433753; 
 color: #ffff;
}
.theme-icon {
  font-size: 30px;
  transform: translateY(-15%) translateX(-15%);
  cursor: pointer;
}
.dark-theme-enabled::after {
  position:absolute;
  top: 0;
  left: 1px;
  content: '🌑';
  font-size: 30px;
  transform: translateY(-15%) translateX(-15%);
  cursor: pointer;
}
*/