.App {
  text-align: center;
  background-color: rgb(166, 176, 189);
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
}
.container {
  width: 60%;
  min-height: 200px;
  height: auto;
  
  margin: auto;
  border-radius: 20px;
}



/*
AddTask component style
*/
input {
  margin-top: 10px;
  background: none;
  height: 40px;
  border: 2px solid rgb(87, 68, 255);
  color: black;
  align-self: center;
  width: 20rem;
  border-radius: 20px 0px 0px 20px;
}
.container button {
  border: 2px solid rgb(87, 68, 255);
  background-color: rgb(134, 121, 250);
  height: 46px;
  border-radius: 0px 20px 20px 0px;
}



.task-container {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.task {
  margin-top: 30px;
  width: 500px;
  height: 50px;
  background-color: rgb(134, 121, 250);
  border-radius: 15px;
}